{% extends 'admin.html.twig' %}
{% block title %} {{ 'Famille de formation' }} {% endblock %}
{% block body %}
    <div class="col-6 col-md-offset-6">
    <div class="card">
    <header class="card-header">
        <h4 class="card-title">{{ 'Famille de formation détail'|upper }}</h4>
        {{ include('family_former/_delete_form.html.twig') }}
    </header>
    <!--<img class="card-img-top" src="{# asset(post.assertPath) #}" alt="Card image cap">-->
    <div class="card-body">
        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'Titre' }}</th>
                <td>{{ family_former.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Position' }}</th>
                <td>{{ family_former.position }}</td>
            </tr>
            <tr>
                <th>{{ 'Contenu' }}</th>
                <td>{{ family_former.content }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-label btn-dark" href="{{ path('family_former_index') }}">
            <label><i class="ti-arrow-left"></i></label>
            {{ 'Retour à la liste'}}
        </a>
        <a class="btn btn-label btn-danger" href="{{ path('family_former_edit', {'id': family_former.id}) }}">
            <label><i class="ti-pencil-alt"></i></label>
            {{ 'Modifier' }}
        </a>
    </div>
{% endblock %}