{% extends 'admin.html.twig' %}
{% block title %} {{ 'Formation' }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/back/js/ckeditor.css', 'back') }}">
{% endblock %}
{% block body %}
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">{{ 'Creér une Formation'|upper }}</h4>
                <a class="btn btn-square btn-outline-danger" href="{{ path('formation_index') }}">
                    <label><i class="ti-na"></i></label>
                </a>
            </header>
            <div class="card-body center-vh">
                {{ include('formation/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}