{% extends 'admin.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>ImageSize</th>
                <td>{{ formation.imageSize }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ formation.imageName }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ formation.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ formation.content }}</td>
            </tr>
            <tr>
                <th>SmallContent</th>
                <td>{{ formation.smallContent }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ formation.slug }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ formation.created ? formation.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">back to list</a>

    <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}