{% extends 'admin.html.twig' %}
{% block title %} {{ 'Section service' }} {% endblock %}
{% block body %}
    <div class="row">
        <div class="container">
            <div class="col-6 col-lg-offset-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title">{{ 'Section service détail'|upper }}</h4>
                        {{ include('service/_delete_form.html.twig') }}
                    </header>
                    <img class="card-img-top" src="{{  asset(service.assertPath) }}" alt="Card image cap">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>{{ 'Nom du service' }}</th>
                                <td>{{ service.title }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Description' }}</th>
                                <td>{{ service.content|raw }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-label btn-dark" href="{{ path('service_index') }}">
                            <label><i class="ti-arrow-left"></i></label>
                            {{ 'Retour à la liste'}}
                        </a>
                        <a class="btn btn-label btn-danger" href="{{ path('service_edit', {'id': service.id}) }}">
                            <label><i class="ti-pencil-alt"></i></label>
                            {{ 'Modifier' }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}