{% extends 'admin.html.twig' %}
{% block title %} {{ 'Catégories Solution Activité' }} {% endblock %}
{% block body %}
    <div class="col-6 col-md-offset-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">{{ 'Catégories Solution détail'|upper }}</h4>
                {{ include('section/_delete_form.html.twig') }}
            </header>
            <!--<img class="card-img-top" src="{# asset(post.assertPath) #}" alt="Card image cap">-->
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ 'Nom' }}</th>
                        <td>{{ section.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Date de creation' }}</th>
                        <td>{{ section.created ? section.created|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'position affichage' }}</th>
                        <td>{{ section.position }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-label btn-dark" href="{{ path('section_index') }}">
                    <label><i class="ti-arrow-left"></i></label>
                    {{ 'Retour à la liste'}}
                </a>
                <a class="btn btn-label btn-danger" href="{{ path('section_edit', {'id': section.id}) }}">
                    <label><i class="ti-pencil-alt"></i></label>
                    {{ 'Modifier' }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}