{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Intégrateur de solutions innovantes' }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/revolution/css/settings.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/revolution/css/layers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/revolution/css/navigation.css') }}">
{% endblock %}
{% block slider %}{{ include('front/includes/slide.html.twig') }}{% endblock %}
{% block body %}
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
    <h1>here content</h1>
{% endblock %}