{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Intégrateur de solutions innovantes' }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/revolution/css/settings.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/revolution/css/layers.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/global/revolution/css/navigation.css') }}">
{% endblock %}
{% block slider %}{{ include('front/includes/slide.html.twig') }}{% endblock %}
{% block body %}
    <!-- start Title Family  box -->
    <section class="padding-55px-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 center-col text-center last-paragraph-no-margin">
                    <h5 class="alt-font text-extra-dark-gray text-uppercase font-weight-600">{{ 'découvrez toutes notre gammes de solutions de gestions pour votre business'|capitalize }}</h5>
                    <p class="width-80 center-col display-inline-block xs-width-100">{{ 'Comptabilité, facturation, gestion commerciale... Innove It & Consulting vous offre tout une gamme de solutions pour gérer votre activité quotiennement' }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- end Title Family  box -->

    <!-- start section family solutions -->
    <section class="no-padding wow fadeIn border-color-extra-light-gray border-bottom" id="section_solution">
        <div class="container-fluid no-padding">
            <div class="row equalize no-margin feature-box-14">
                {% for section in sections %}
                <!-- start feature box item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center border-right border-color-extra-light-gray display-table border-bottom wow fadeInUp" data-wow-delay="0.6s">
                    <div class="display-table-cell vertical-align-middle padding-fifteen-all xs-padding-30px-tb xs-no-padding-lr">
                        <i class="{% if section|length > 0 %} {{ section.icon|default('ti-bar-chart-alt') }} {% endif %} icon-large text-deep-pink"></i>
                        <span class="display-block alt-font font-weight-600 text-extra-dark-gray margin-25px-top margin-5px-bottom sm-margin-15px-top">{{ section.name|upper }}</span>
                        <p class="no-margin-bottom padding-15px-bottom">{{ section.content|truncate('150', true, '...')|striptags|raw }}</p>
                        <a class="btn btn-small btn-dark-gray btn-rounded md-margin-15px-bottom sm-display-table sm-margin-lr-auto" href="{{ path('family_solution_page', {'slug': section.slug }) }}">{{ 'explorer' }}</a>
                    </div>
                </div>
                <!-- end feature box item -->
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end section family solutions -->

    <!-- start Title Avantage box -->
    <section class="padding-55px-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 center-col text-center last-paragraph-no-margin">
                    <h5 class="alt-font text-extra-dark-gray text-uppercase font-weight-700">{{ 'Pourquoi utilser des solutions de gestion pour mon activité ?' }}</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- end Title Avantage box -->

    <!-- start avantages section -->
    <section class="no-padding-tb no-padding bg-light-gray wow fadeIn">
        <div class="container-fluid no-padding">
            <div class="row no-margin">
                    <!-- start information item -->
                    <div class="col-md-4 no-padding image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                        <div class="feature-box-wrap">
                            <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px" style="background: url({{ asset('build/global/images/homepage-3-parallax-img1.jpg') }})"></div>
                            <div class="width-100 small-screen xs-height-300px display-table arrow-top">
                                <div class="display-table-cell vertical-align-middle padding-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                    <h6 class="text-extra-dark-gray alt-font width-95 center-col sm-width-100 xs-margin-15px-bottom">{{ 'Avantage d\'utlisation 1' }}.</h6>
                                    <p class="no-letter-spacing padding-two-lr line-height-26 xs-line-height-20 xs-no-padding-lr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                    <span class="separator-line-horrizontal-medium-light2 bg-deep-pink display-inline-block margin-40px-top xs-margin-20px-top"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="col-md-4 no-padding image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                            <div class="feature-box-wrap sm-swap-block">
                                <div class="width-100 small-screen xs-height-300px display-table arrow-bottom">
                                    <div class="display-table-cell vertical-align-middle padding-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                        <h6 class="text-extra-dark-gray alt-font width-95 center-col sm-width-100 xs-margin-15px-bottom">{{ 'Avantage d\'utlisation 2' }}</h6>
                                        <p class="no-letter-spacing padding-two-lr line-height-26 xs-line-height-20 xs-no-padding-lr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                        <span class="separator-line-horrizontal-medium-light2 bg-deep-pink display-inline-block margin-40px-top xs-margin-20px-top"></span>
                                    </div>
                                </div>
                                <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px" style="background: url({{ asset('build/global/images/homepage-3-parallax-img2.jpg') }})"></div>
                            </div>
                        </div>
                <div class="col-md-4 no-padding image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap">
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px" style="background: url({{ asset('build/global/images/homepage-3-parallax-img1.jpg') }})"></div>
                        <div class="width-100 small-screen xs-height-300px display-table arrow-top">
                            <div class="display-table-cell vertical-align-middle padding-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray alt-font width-95 center-col sm-width-100 xs-margin-15px-bottom">{{ 'Avantage d\'utlisation 3' }}</h6>
                                <p class="no-letter-spacing padding-two-lr line-height-26 xs-line-height-20 xs-no-padding-lr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                <span class="separator-line-horrizontal-medium-light2 bg-deep-pink display-inline-block margin-40px-top xs-margin-20px-top"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end avantages section -->

    <!-- start Services section -->
    <section id="creative" class="wow fadeIn" style="background: url({{ asset('build/global/images/testimonial-bg.png') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 center-col text-center last-paragraph-no-margin">
                    <p class="alt-font font-weight-600 text-small text-uppercase text-deep-pink margin-10px-bottom">{{ 'assistance'|upper }}</p>
                    <h5 class="alt-font text-extra-dark-gray text-uppercase font-weight-700">{{ 'nous vous assistons pour combler vos besoins'|capitalize }}</h5>
                    <p class="width-80 padding-25px-bottom center-col display-inline-block xs-width-100">{{ 'ce que nous offrons comme service' }}</p>
                </div>
            </div>
            <div class="row equalize sm-equalize-auto">
                <div class="col-md-12 col-xs-12">
                    <div class="row blog-post">
                        {% if services|length > 0 %}
                            {% for service in services %}
                            <!-- start blog post item -->
                            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn xs-margin-30px-bottom last-paragraph-no-margin padding-15px-bottom" data-wow-delay="0.2s">
                                <div class="blog-post-images overflow-hidden margin-25px-bottom xs-margin-15px-bottom">
                                    <a href="{{ path('services') }}#{{ service.slug }}"><img src="{{ service.assertPath|imagine_filter('thumb_590_300') }}" alt="{{ service.title|capitalize }}"></a>
                                </div>
                                <div class="separator-line-verticle-small-thick bg-deep-pink display-inline-block vertical-align-top margin-two-half-top margin-four-right xs-display-none"></div>
                                <div class="post-details width-90 display-inline-block xs-width-100 xs-text-center">
                                    <a href="{{ path('services') }}#{{ service.slug }}"><span class="alt-font margin-5px-bottom display-block text-extra-dark-gray font-weight-600">{{ service.title|capitalize }}</span></a>
                                    <p>{{ service.content|striptags('<a>')|truncate(160, true, '...')|raw }}</p>
                                </div>
                            </div>
                            <!-- end blog post item -->
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Services section -->

    <!-- start about section -->
    <section class="parallax" data-stellar-background-ratio="0" style="background-image:url({{ asset('build/global/images/parallax-bg6.jpg') }});">
        <div class="opacity-full bg-extra-dark-gray"></div>
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-9 col-md-10 col-sm-12 text-center center-col wow fadeIn last-paragraph-no-margin">
                    <h4 class="alt-font text-white">{{ 'facilité votre gestion et optimiser la productivité de votre entreprise, nous incomble'|capitalize }}</h4>
                    <p class="width-75 margin-lr-auto text-medium-gray md-width-90 xs-width-100 xs-margin-30px-bottom">{{ describe }}</p>
                    <a href="{{ path('about') }}" class="btn btn-white btn-small text-extra-small border-radius-4 margin-45px-top xs-no-margin-top"><i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i> {{ 'notre entreprise' }}</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->

    <!-- start Formation table style 02 section -->
    <section class="wow fadeIn bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                    <div class="position-relative overflow-hidden width-100">
                        <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Nos formations</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pricing-box-style1">
                    {% for former in formers %}
                        <!-- start pricing item -->
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-30px-bottom wow fadeInUp">
                            <div class="pricing-box border-all border-width-1 border-color-extra-light-gray bg-white">
                                <div class="bg-extra-dark-gray padding-10px-tb alt-font text-white font-weight-600 text-uppercase">{{ 'Formations' }}</div>
                                <div class="bg-light-gray padding-35px-all">
                                    <div class="text-extra-small text-uppercase margin-5px-top">{{ 'Section:' }}</div>
                                    <h6 class="text-extra-dark-gray font-weight-500 no-margin-bottom">{{ former.name }}</h6>
                                </div>
                                <!-- start pricing features -->
                                <div class="padding-30px-all pricing-features sm-padding-20px-all xs-padding-30px-all">
                                    <!-- start pricing action -->
                                    <div class="pricing-action margin-35px-top sm-no-margin-top">
                                        <a href="{{ path('family_former') }}#{{ former.slug }}" class="btn btn-transparent-dark-gray btn-very-small text-extra-small">{{ 'Voir le contenu' }}</a>
                                    </div>
                                    <!-- end pricing action -->
                                </div>
                                <!-- end pricing features -->
                            </div>
                        </div>
                        <!-- end pricing item -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- end Formation table style 02 section -->


    <!-- start to action devis formation section -->
    <section class="wow fadeIn padding-50px-tb border-top border-width-1 border-color-extra-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12 sm-margin-30px-bottom sm-text-center wow fadeInDown">
                    <span class="alt-font text-extra-large text-extra-dark-gray margin-5px-top sm-no-margin-top display-inline-block width-100">{{ 'vous avez un besoin de formation sur mesure alors n\'attendez plus rentrez en contact avec nous'|capitalize }}</span>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 sm-text-center wow fadeInDown">
                    <a href="{{ path('contact') }}" class="btn btn-medium btn-rounded btn-transparent-dark-gray" data-wow-delay="0.4s">{{ 'demandez un devis de formation' }} <i class="ti-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- end  to action devis formation section -->

    <!-- start why work with us box -->
    <section class="big-section wow fadeIn parallax wow fadeIn bg-light-gray wow fadeIn" data-stellar-background-ratio="0.4" style="background-image:url({{ asset('build/global/images/parallax-bg30.jpg') }});">
        <div class="container margin-six-top md-margin-ten-top sm-no-margin-top">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 sm-text-center sm-margin-40px-bottom xs-margin-30px-bottom">
                    <h5 class="text-extra-dark-gray font-weight-600 alt-font no-margin">{{ 'Pourquoi travailler avec nous ?' }}</h5>
                </div>
                <!-- end feature box item -->
                <!-- start feature box item -->
                <div class="col-md-4 col-sm-6 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s">
                    <div class="col-md-3 text-center xs-no-padding-lr">
                        <h2 class="text-deep-pink alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">01</h2>
                    </div>
                    <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                        <span class="alt-font text-medium text-extra-dark-gray margin-5px-bottom display-block">{{ 'Rapidité d\'exécusion & promptitude' }}</span>
                    </div>
                </div>
                <!-- end feature box item -->
                <!-- start feature box item -->
                <div class="col-md-4 col-sm-6 col-xs-12 sm-text-center wow fadeIn last-paragraph-no-margin" data-wow-delay="0.4s">
                    <div class="col-md-3 text-center xs-no-padding-lr">
                        <h2 class="text-deep-pink alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">02</h2>
                    </div>
                    <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                        <span class="alt-font text-medium text-extra-dark-gray margin-5px-bottom display-block">{{ 'Productivité & professionnalisme' }}</span>
                    </div>
                </div>
                <!-- end feature box item -->
            </div>
        </div>
    </section>
    <!-- end why work with us box -->

    {% if posts|length > 0 %}
        <!-- start blog section -->
        <section class="wow fadeIn hover-option4 blog-post-style3">
            <div class="container">
                <div class="row padding-25px-bottom">
                    <div class="col-lg-8 col-md-8 center-col text-center last-paragraph-no-margin">
                        <h5 class="alt-font text-extra-dark-gray text-uppercase font-weight-700">{{ 'astuces & informations' }}</h5>
                    </div>
                </div>
                <div class="row equalize xs-equalize-auto">
                    {% if posts|length > 0 %}
                        {% for post in posts %}
                            <!-- start blog post item -->
                            <div class="grid-item col-md-4 col-sm-6 col-xs-12 wow fadeInUp sm-padding-30px-bottom xs-text-center">
                                <div class="blog-post bg-light-gray inner-match-height">
                                    <div class="blog-post-images overflow-hidden position-relative">
                                        <a href="{{ path('detail_blog', {'slug': post.slug}) }}">
                                            <img src="{{ post.assertPath|imagine_filter('thumb_590_300') }}" alt="">
                                            <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                        </a>
                                    </div>
                                    <div class="post-details padding-40px-all sm-padding-20px-all">
                                        <a href="{{ path('detail_blog', {'slug' : post.slug }) }}" class="alt-font post-title text-medium text-extra-dark-gray width-100 display-block md-width-100 margin-15px-bottom">{{ post.title }}</a>
                                        <p>{{ post.content|truncate('250', true, '...')|raw }}</p>
                                        <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb sm-margin-15px-tb"></div>
                                        <div class="author">
                                            <span class="text-medium-gray text-uppercase text-extra-small display-inline-block sm-display-block sm-margin-10px-top">par <a href="{{ path('about') }}" class="text-medium-gray"> Admin </a>&nbsp;&nbsp;|&nbsp;&nbsp; {{ post.created|localizeddate('long', 'long', null, 'UTC') }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end blog post item -->
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- end blog section -->
    {% endif %}

    <!-- start section -->
    <section class="no-padding-bottom bg-light-gray wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 center-col margin-eight-bottom text-center last-paragraph-no-margin">
                    <div class="alt-font text-deep-pink margin-10px-bottom text-uppercase text-small">{{ 'Innove-It &amp; consulting, la solution de l\'envisageable à l\'indispensable !' }}</div>
                    <h5 class="alt-font text-extra-dark-gray font-weight-600">{{ 'Quelque soit votre domaine d\'activité, la taille de votre business, nous avons la soluion qu\'il vous faut' }}</h5>
                    <p class="center-col display-inline-block">{{ "Nous disposons d'une équipe innovante avec des talents, des compétences, de l'expérience des savoir-faire et des savoirs-être engagés à réussir vos projets à court et à long termes dans le domaine des TIC. Elle est spécialisée dans les environnements systèmes: système d’information, systèmes de gestion informatisée, réseau & télécoms." }}</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="{{ asset('build/global/images/services-img10.jpg') }}" alt=""/>
                </div>
            </div>
        </div>
    </section>
    <!-- end section  -->
{% endblock %}