<section class="no-padding main-slider height-100 mobile-height wow fadeIn">
    <div class="swiper-full-screen swiper-container height-100 width-100 white-move">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url({{ asset('build/front/static/slide_solution.jpg') }});">
                <div class="opacity-extra-medium bg-black"></div>
                <div class="container position-relative full-screen">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom sm-margin-four-bottom xs-margin-five-bottom">{{ 'Facilitez la gestion des tâches quotidiennes de votre entreprise avec'|capitalize }}</h6>
                                <div class="alt-font text-white text-uppercase font-weight-700 letter-spacing-minus-3 title-large title-line-through margin-two-bottom width-60 center-col md-width-80 sm-margin-four-bottom xs-width-90 xs-margin-five-bottom">{{ 'Nos solutions de gestion' }}</div>
                                <div class="btn-dual">
                                    <a href="#section_solution" class="btn btn-transparent-white btn-small xs-margin-two-all">{{ 'découvir' }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url({{ asset('build/front/static/slide_former.jpg') }});">
                <div class="opacity-extra-medium bg-black"></div>
                <div class="container position-relative full-screen">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom sm-margin-four-bottom xs-margin-five-bottom">{{ 'renforcez vos capacités & la productivitez de votre entreprise'|capitalize }}</h6>
                                <div class="alt-font text-white text-uppercase font-weight-700 letter-spacing-minus-3 title-large margin-two-bottom width-60 center-col md-width-80 sm-margin-four-bottom xs-width-90 xs-margin-five-bottom">{{ 'nos formations certifées' }}</div>
                                <div class="btn-dual">
                                    <a href="{{ path('family_former') }}" class="btn btn-transparent-white btn-small xs-margin-two-all">{{ 'se former' }}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- start slider item -->
            <div class="swiper-slide cover-background" style="background-image:url({{ asset('build/front/static/slide_assistance.jpg') }});">
                <div class="opacity-extra-medium bg-black"></div>
                <div class="container position-relative full-screen">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom sm-margin-four-bottom xs-margin-five-bottom">{{ 'Ne perdez plus de temps, confiez-nous votre gestion'|capitalize }}</h6>
                                <div class="alt-font text-white text-uppercase font-weight-700 letter-spacing-minus-3 title-large margin-two-bottom width-60 center-col md-width-80 sm-margin-four-bottom xs-width-90 xs-margin-five-bottom">{{ 'besoin d\'assistance ?' }}</div>
                                <div class="btn-dual">
                                    <a href="{{ path('services') }}" class="btn btn-transparent-white btn-small xs-margin-two-all">{{ 'oui, j\'en ai besoins' }}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide cover-background" style="background-image:url({{ asset('build/front/static/slide_contact.jpg') }});">
                <div class="opacity-extra-medium bg-black"></div>
                <div class="container position-relative full-screen">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <h6 class="text-very-light-gray padding-ten-lr font-weight-300 margin-two-bottom sm-margin-four-bottom xs-margin-five-bottom">{{ 'vous ne vous retrouvez pas , pas de panique'|capitalize }}</h6>
                                <div class="alt-font text-white text-uppercase font-weight-700 letter-spacing-minus-3 title-large margin-two-bottom width-60 center-col md-width-80 sm-margin-four-bottom xs-width-90 xs-margin-five-bottom">{{ 'contactez nous pour' }}</div>
                                <div class="btn-dual">
                                    <a href="{{ path('contact') }}" class="btn btn-transparent-white btn-small xs-margin-two-all">{{ 'prendre rendez-vous' }}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-square swiper-pagination-white swiper-full-screen-pagination"></div>
        <div class="swiper-button-next swiper-button-black-highlight display-none"></div>
        <div class="swiper-button-prev swiper-button-black-highlight display-none"></div>
    </div>
</section>