{% extends 'admin.html.twig' %}
{% block title %} {{ 'Domaines Activité' }} {% endblock %}
{% block body %}
    <div class="col-6 col-md-offset-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">{{ 'Domaine activité détail'|upper }}</h4>
                {{ include('activity/_delete_form.html.twig') }}
            </header>
            <img class="card-img-top" src="{{  asset(activity.assertPath) }}" alt="Card image cap">
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ 'Nom' }}</th>
                        <td>{{ activity.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Date de creation' }}</th>
                        <td>{{ activity.created ? activity.created|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-label btn-dark" href="{{ path('activity_index') }}">
                    <label><i class="ti-arrow-left"></i></label>
                    {{ 'Retour à la liste'}}
                </a>
                <a class="btn btn-label btn-danger" href="{{ path('activity_edit', {'id': activity.id}) }}">
                    <label><i class="ti-pencil-alt"></i></label>
                    {{ 'Modifier' }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}