{% extends 'base.html.twig' %}
{% block title %}
    {{  'Qui sommes nous | Intégrateur de solutions innovantes' }}
{% endblock %}
{% block slider %}
    <!-- start page title section -->
    <section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url({{ asset('build/global/images/about-banner.jpg') }});">
        <div class="opacity-medium bg-extra-dark-gray"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                    <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                        <!-- start sub title -->
                        <span class="display-block text-white opacity6 alt-font margin-5px-bottom">{{ 'Qui sommes nous' }}</span>
                        <!-- end sub title -->
                        <!-- start page title -->
                        <h1 class="alt-font text-white font-weight-600 no-margin-bottom">{{ 'innove IT & Consulting' }}</h1>
                        <!-- end page title -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title section -->
{% endblock %}
{% block body %}
    <!-- start story section -->
    <section class="wow fadeIn no-padding-bottom animated animated">
        <div class="container">
            <div class="row equalize sm-equalize-auto">
                <div class="col-md-5 col-sm-12 col-xs-12 text-center sm-margin-30px-bottom wow fadeInLeft">
                    <div class="display-table width-100 height-100">
                        <div class="display-table-cell vertical-align-middle width-100 height-100">
                            <img src="{{ asset('build/global/images/about-img3.jpg') }}" alt="{{ 'Qui sommes nous' }}" class="border-radius-6 width-100">
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="display-table width-100 height-100">
                        <div class="display-table-cell vertical-align-middle padding-twelve-lr sm-text-center sm-no-padding width-100">
                            <span class="text-deep-pink alt-font margin-10px-bottom display-inline-block text-medium">{{ 'La solution de l\'envisageable à l’indispensable' }}</span>
                            <h6 class="alt-font text-extra-dark-gray">{{ 'Intégrateur Sage, EBP, Ciel et diverses solutions informatiques' }}</h6>
                            <p>Nous disposons d'une équipe innovante avec des talents, des compétences, de l'expérience des savoir-faire et des savoirs-être engagés à réussir vos projets à court et à long termes dans le domaine des TIC. Elle est spécialisée dans les environnements systèmes: système d’information, systèmes de gestion informatisée, réseau & télécoms.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-full bg-extra-light-gray margin-seven-bottom margin-eight-top"></div>
        </div>
    </section>
    <!-- end story section -->

    <!-- start hero section -->
    <section class="no-padding-bottom no-padding-top wow fadeIn" id="section-down">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-9 center-col margin-six-bottom text-center last-paragraph-no-margin">
                    <div class="alt-font text-deep-pink margin-10px-bottom text-uppercase text-small">{{ 'Notre equipe' }}</div>
                    <h5 class="alt-font text-extra-dark-gray font-weight-600">{{ 'Passionnés et déterminés, nous partageons un objectif commun: la satisfaction de nos clients' }}</h5>
                    <p class="width-80 center-col display-inline-block xs-width-100">Elle regroupe aussi tous les acteurs des NTIC: développeurs, webdesigners, intégrateurs, administrateur système, tous encadrés par des chefs de projets diplômés d'enseignement supérieur (Ingénieurs, DESS, MBA...) vous proposant des prestations de services différenciées tout en  mettant les Hommes au centre de son modèle économique</p>
                </div>
            </div>
        </div>
        <div class="container-fluid wow fadeIn">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="{{ asset('build/global/images/services-img11.jpg') }}" alt=""/>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner section -->

    <!-- start avantages section -->
    <section class="no-padding-tb no-padding bg-light-gray wow fadeIn">
        <div class="container-fluid no-padding">
            <div class="row no-margin">
                <!-- start information item -->
                <div class="col-md-4 no-padding image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap">
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px" style="background: url({{ asset('build/front/static/avt1.jpg') }})"></div>
                        <div class="width-100 small-screen xs-height-300px display-table arrow-top">
                            <div class="display-table-cell vertical-align-middle padding-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray alt-font width-95 center-col sm-width-100 xs-margin-15px-bottom">{{ 'UN BON CONSEIL  POUR INFORMER!'|upper }}.</h6>
                                <p class="no-letter-spacing padding-two-lr line-height-26 xs-line-height-20 xs-no-padding-lr">{{ 'Vous aurez un avis externe, indépendant et neutre sur les voix techniques et stratégiques relatifs à la Fiabilité de votre logiciel de gestion, et de la sécurité de votre système d’information.' }}</p>
                                <span class="separator-line-horrizontal-medium-light2 bg-deep-pink display-inline-block margin-40px-top xs-margin-20px-top"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no-padding image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap sm-swap-block">
                        <div class="width-100 small-screen xs-height-300px display-table arrow-bottom">
                            <div class="display-table-cell vertical-align-middle padding-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray alt-font width-95 center-col sm-width-100 xs-margin-15px-bottom">{{ 'UNE FORMATION POINTUE POUR RASSURER !'|upper }}</h6>
                                <p class="no-letter-spacing padding-two-lr line-height-26 xs-line-height-20 xs-no-padding-lr">{{ 'Votre personnel sera formé convenablement pour vous produire des informations fiables.
Nous vous proposons des formations sur mesures, couvrant divers volets et s’adaptant au contexte de votre entreprise ainsi  qu’à vos besoins métier.
' }}</p>
                                <span class="separator-line-horrizontal-medium-light2 bg-deep-pink display-inline-block margin-40px-top xs-margin-20px-top"></span>
                            </div>
                        </div>
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px" style="background: url({{ asset('build/front/static/avt2.jpg') }})"></div>
                    </div>
                </div>
                <div class="col-md-4 no-padding image-hover-style-3 height-100 last-paragraph-no-margin bg-light-gray">
                    <div class="feature-box-wrap">
                        <div class="width-100 display-table position-relative cover-background small-screen xs-height-300px" style="background: url({{ asset('build/front/static/avt3.jpg')}})"></div>
                        <div class="width-100 small-screen xs-height-300px display-table arrow-top">
                            <div class="display-table-cell vertical-align-middle padding-eighteen-lr md-padding-twelve-lr text-center sm-padding-ten-lr xs-padding-seven-all">
                                <h6 class="text-extra-dark-gray alt-font width-95 center-col sm-width-100 xs-margin-15px-bottom">{{ 'UNE BONNE INTEGRATION POUR ORGANISER !'|upper }}</h6>
                                <p class="no-letter-spacing padding-two-lr line-height-26 xs-line-height-20 xs-no-padding-lr">{{ 'Votre système d’information doit répondre aux contraintes techniques, organisationnelles, fonctionnelles, légales et règlementaires de votre entreprise, ainsi qu’aux exigences des utilisateurs.
Nous vous accompagnons dans la mise en place et le développement d’un système sécurisé, performant, en phase avec les besoins de votre entreprise et en respectant vos normes de conformités.
' }}</p>
                                <span class="separator-line-horrizontal-medium-light2 bg-deep-pink display-inline-block margin-40px-top xs-margin-20px-top"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end avantages section -->

    <!-- start clients slider section  -->
    <section class="no-padding-bottom wow fadeIn">
        <div class="container text-center">
            <div class="row">
                <div class="swiper-slider-clients swiper-container black-move wow fadeIn">
                    <div class="swiper-wrapper">
                        {% for partner in partners %}
                            <!-- start slide -->
                            <div class="swiper-slide text-center"><a href="{{ path('contact') }}"><img src="{{ partner.assertPath|imagine_filter('thumb_partner_250_250') }}" alt="{{ partner.name }}"></a></div>
                            <!-- end slide -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end clients slider section -->

    <!-- start blog section -->
    <section class="wow fadeIn hover-option4 blog-post-style3">
        <div class="container">
            <div class="row padding-25px-bottom">
                <div class="col-lg-8 col-md-8 center-col text-center last-paragraph-no-margin">
                    <h5 class="alt-font text-extra-dark-gray text-uppercase font-weight-700">{{ 'astuces & informations' }}</h5>
                </div>
            </div>
            <div class="row equalize xs-equalize-auto">
                {% if posts|length > 0 %}
                    {% for post in posts %}
                        <!-- start blog post item -->
                        <div class="grid-item col-md-4 col-sm-6 col-xs-12 wow fadeInUp sm-padding-30px-bottom xs-text-center">
                            <div class="blog-post bg-light-gray inner-match-height">
                                <div class="blog-post-images overflow-hidden position-relative">
                                    <a href="{{ path('detail_blog', {'slug': post.slug}) }}">
                                        <img src="{{ post.assertPath|imagine_filter('thumb_590_300') }}" alt="">
                                        <div class="blog-hover-icon"><span class="text-extra-large font-weight-300">+</span></div>
                                    </a>
                                </div>
                                <div class="post-details padding-40px-all sm-padding-20px-all">
                                    <a href="{{ path('detail_blog', {'slug' : post.slug }) }}" class="alt-font post-title text-medium text-extra-dark-gray width-100 display-block md-width-100 margin-15px-bottom">{{ post.title }}</a>
                                    <p>{{ post.content|truncate('250', true, '...')|raw }}</p>
                                    <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb sm-margin-15px-tb"></div>
                                    <div class="author">
                                        <span class="text-medium-gray text-uppercase text-extra-small display-inline-block sm-display-block sm-margin-10px-top">par <a href="{{ path('about') }}" class="text-medium-gray"> Admin </a>&nbsp;&nbsp;|&nbsp;&nbsp; {{ post.created|localizeddate('long', 'long', null, 'UTC') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end blog post item -->
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- end blog section -->
{% endblock %}
