{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Nos Services | Intégrateur de solutions innovantes' }}
{% endblock %}
{% block slider %}
        <!-- start page title section -->
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('{{ asset('build/global/images/parallax-bg13.jpg') }}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center">
                            <!-- start page title -->
                            <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-15px-bottom">Nous contacter</h1>
                            <!-- end page title -->
                            <!-- start sub title -->
                            <span class="text-white opacity6 alt-font">{{'Vous avez besoin de nos services , alors n\'hesitez plus'}}</span>
                            <!-- end sub title -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->
{% endblock %}
{% block body %}
        <!-- start contact info -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
                        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase">{{'Entamons une discussion ensemble'}}</h5>
                    </div>  
                </div>
                <div class="row">
                    <div class="row">
                        <!-- start contact info item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 text-center sm-margin-eight-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                            <div class="display-inline-block margin-20px-bottom">
                                <div class="bg-extra-dark-gray icon-round-medium"><i class="icon-map-pin icon-medium text-white"></i></div>
                            </div>
                            <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">{{'Visitez nos bureau'}}</div>
                            <p class="center-col">{{address}} <br/> {{localisation}}</p>
                            <a href="#maps" class="text-decoration-line-through-deep-pink text-uppercase text-deep-pink text-small margin-15px-top xs-margin-10px-top display-inline-block">Localiser</a>
                        </div>
                        <!-- end contact info item -->
                        <!-- start contact info item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 text-center sm-margin-eight-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                            <div class="display-inline-block margin-20px-bottom">
                                <div class="bg-extra-dark-gray icon-round-medium"><i class="icon-chat icon-medium text-white"></i></div>
                            </div>
                            <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Appelez-nous</div>
                            <p class="center-col">{{contact}}<br>{{cel}}</p>
                        </div>
                        <!-- end contact info item -->
                        <!-- start contact info item -->
                        <div class="col-md-4 col-sm-6 col-xs-12 text-center xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                            <div class="display-inline-block margin-20px-bottom">
                                <div class="bg-extra-dark-gray icon-round-medium"><i class="icon-envelope icon-medium text-white"></i></div>
                            </div>
                            <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">E-mail</div>
                            <p class="center-col"><a href="mailto:{{info}}">{{info}}</a><br><a href="mailto:{{info2}}">{{info2}}</a></p>
                        </div>
                        <!-- end contact info item -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end contact info section -->
        <!-- start map section -->
        <section id="maps" class="no-padding one-second-screen sm-height-400px wow fadeIn"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.4609948715765!2d-4.003991585725744!3d5.346382737210202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1eb710d3fbdef%3A0xcbae0ef9c9829fdb!2sCity+of+Arts!5e0!3m2!1sen!2sci!4v1529662432467"></iframe></section>
        <!-- end map section -->
    <!-- start social section -->
    <section class="big-section wow fadeIn parallax" data-stellar-background-ratio="0.4" style="background-image:url({{ asset('build/global/images/parallax-bg30.jpg') }});">
        <div class="opacity-full bg-medium-gray"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="text-medium font-weight-600 text-uppercase display-block alt-font text-extra-dark-gray margin-30px-bottom">{{ 'Suivez-nous sur les reseaux' }}</span>
                    <div class="social-icon-style-7">
                        <ul class="margin-30px-top large-icon">
                            <li><a class="facebook" href="{{facebook}}" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a></li>
                            <li><a class="twitter" href="{{ twitter }}" target="_blank"><i class="fab fa-twitter"></i><span></span></a></li>
                            <li><a class="google" href="{{ google }}" target="_blank"><i class="fab fa-google-plus-g"></i><span></span></a></li>
                            <li><a class="linkedin" href="{{ linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- start social section -->
{% endblock %}