{% extends 'base.html.twig' %}
{% block title %}
    {{  'Nos formations | Intégrateur de solutions innovantes' }}
{% endblock %}
{% block slide %}
    <div class="c-layout-breadcrumbs-1 c-bgimage-full c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: url({{ asset('build/web/static/slides/slide_formation.jpg') }})">
        <div class="c-breadcrumbs-wrapper">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">Nos formations</h3>
                </div>
                <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                    <li><a href="{{ path('homepage') }}" class="c-font-white">{{ 'Accueil' }}</a></li>
                    <li class="c-font-white">/</li>
                    <li class="c-font-white">{{ 'Nos formations' }}</li>
                </ul>
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
{% endblock %}
{% block body %}
<div class="c-content-box c-size-md c-bg-white">
    <div class="container">
        <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-center c-font-bold">{{ 'Avec nos formations, maîtrise la gestion de votre entreprise' }}</h3>
                <div class="c-line-center"></div>
            </div>
        </div>
        {% if formations|length > 0 %}
        {% for formation in formations %}
        <div class="c-content-box c-overflow-hide c-margin-b-30 {% if loop.index is odd %}c-bg-grey {% else %} c-bg-white {% endif %}">
            <div class="c-content-product-3 c-bs-grid-reset-space">
                <div class="row">
                    {% if loop.index is odd %}
                    <div class="col-md-7 col-sm-6 wow animated fadeInLeft">
                        <div class="c-content-overlay">
                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 350px; background-image: url({{ formation.assertPath|imagine_filter('thumb_550_350') }});"></div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 wow animated fadeInRight">
                        <div class="c-wrapper c-bg-green-1" style="height: 350px;">
                            <div class="c-content c-border c-border-padding c-border-padding-right">
                                <small class="c-font-white">{{ formation.category.name }}</small>
                                <h3 class="c-title c-font-25 c-font-white c-font-uppercase c-font-bold">{{ formation.title }}</h3>
                                <p class="c-description c-font-17 c-font-white">{{ formation.content|striptags|truncate(250, true, '...')|raw }}</p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="col-md-5 col-sm-6 wow animated fadeInLeft">
                            <div class="c-wrapper c-bg-green" style="height: 350px;">
                                <div class="c-content c-border c-border-padding c-border-padding-right">
                                    <small class="c-font-white">{{ formation.category.name }}</small>
                                    <h3 class="c-title c-font-25 c-font-white c-font-uppercase c-font-bold">{{ formation.title }}</h3>
                                    <p class="c-description c-font-17 c-font-white">{{ formation.content|striptags|truncate(250, true, '...')|raw }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-6 wow animated fadeInRight">
                            <div class="c-content-overlay">
                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 350px; background-image: url({{ formation.assertPath|imagine_filter('thumb_550_350') }});"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
    <!-- END: CONTENT/SOLUTION QUE NOUS OFFRONS -->
    <section id="about">
        <!-- BEGIN: CONTENT/MISC/ABOUT-1 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 wow animated fadeInLeft">
                        <!-- Begin: Title 1 component -->
                        <div class="c-content-title-1">
                            <h3 class="c-font-uppercase c-font-bold">{{ 'La solution de l’envisageable à l’indispensable' }}</h3>
                            <div class="c-line-left c-theme-bg"></div>
                        </div>
                        <!-- End-->
                        <p>Intégrateur Sage, EBP, Ciel et diverses solutions informatiques Audit-Evolution-Conseils-Paramétrage-Formation-Assistance</p>
                    </div>
                    <div class="col-sm-6 wow animated fadeInRight">
                        <div class="c-content-client-logos-1">
                            <!-- Begin: Title 1 component -->
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">{{ 'Partenaires certifiées' }}</h3>
                                <div class="c-line-left c-theme-bg"></div>
                            </div>
                            <!-- End-->
                            <div class="c-logos">
                                <div class="row">
                                    {% if partners|length > 0 %}
                                        {% for partner in partners %}
                                            <div class="col-md-4 col-xs-6 c-logo c-logo-1">
                                                <a href="#"><img class="c-img-pos" src="{{ partner.assertPath|imagine_filter('thumb_180_140') }}" alt="{{ partner.name }}"/></a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/MISC/ABOUT-1 -->
    </section>
    <!-- END: CONTENT/SOLUTION QUE NOUS OFFRONS -->
{% endblock %}

{% block javascripts %}
    <!-- BEGIN: PAGE SCRIPTS -->
    <script src="{{ asset('build/layout/assets/plugins/revo-slider/js/extensions/revolution.extension.kenburn.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/layout/assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/layout/assets/demos/default/js/scripts/revo-slider/slider-13.js') }}" type="text/javascript"></script>
    <!-- END: PAGE SCRIPTS -->
{% endblock %}

