{% extends 'base.html.twig' %}
{% block title %}
    {{  solution.name ~ '| Intégrateur de solutions innovantes' }}
{% endblock %}
{% block slider %}
    <!-- start page title section -->
    <section class="no-padding wow fadeIn cover-background background-position-top top-space" style="background-image:url({{ asset('build/global/images/about-banner.jpg') }});">
        <div class="opacity-medium bg-extra-dark-gray"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                    <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                        <!-- start sub title -->
                        <span class="display-block text-white opacity6 alt-font margin-5px-bottom">{{ solution.category.name|capitalize }}</span>
                        <!-- end sub title -->
                        <!-- start page title -->
                        <h1 class="alt-font text-white font-weight-600 no-margin-bottom">{{ solution.name |upper}}</h1>
                        <!-- end page title -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title section -->
{% endblock %}
{% block body %}
    <!-- start page title section -->
    <section class="no-margin wow fadeIn bg-light-gray padding-35px-tb page-title-small top-space">
        <div class="container">
            <div class="row equalize xs-equalize-auto">
                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 display-table">
                    <div class="display-table-cell vertical-align-middle text-left xs-text-center">
                        <!-- start page title -->
                        <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin-bottom text-uppercase">{{ 'Nos solutions' }}</h1>
                        <!-- end page title -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 display-table text-right xs-margin-15px-top">
                    <div class="display-table-cell vertical-align-middle breadcrumb text-small alt-font">
                        <!-- breadcrumb -->
                        <ul class="xs-text-center">
                            <li>
                                <a href="{{ path('homepage') }}" class="text-dark-gray">
                                    {{ 'accueil'|capitalize }}
                                </a>
                            </li>
                            <li class="text-dark-gray">{{ solution.name }}</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title section -->
    <section>
        <div class="container">
            <div class="row">
                <main class="col-md-offset-2 col-md-9 col-sm-12 col-xs-12 sm-margin-60px-bottom xs-margin-40px-bottom">
                    <!-- start post item -->
                    <div class="col-md-12 col-sm-12 col-xs-12 blog-post-content margin-30px-bottom xs-margin-10px-bottom xs-text-center">
                        <div class="blog-text border-all display-inline-block width-100">
                            <div class="content padding-50px-all xs-padding-20px-all">
                                <a href="#" class="text-extra-dark-gray text-uppercase alt-font text-large font-weight-600 margin-15px-bottom display-block">
                                    {{ solution.name }}
                                </a>
                                <p class="text-justify">{{ solution.content|raw }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- end post item -->
                </main>
            </div>
        </div>
    </section>
    <!-- end blog content section -->

    <!-- start help section -->
    {% if solution.reader|length > 0 %}
    <section class="wow fadeIn no-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12 text-center center-col">
                    <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase">{{ 'documentation'}}<br/></h5>
                </div>
                <div class="row">
                    <div class="c-content-blog-post-card-1-grid">
                        <div class="row">
                            <div class="col-md-8 col-sm-6 col-md-offset-3">
                                {{ solution.reader|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- end help section -->
    <!-- start section -->
    <section class="wow fadeIn animated">
        <div class="container-fluid">
            <div class="row equalize sm-equalize-auto">
                <!-- start features item -->
                <div class="col-md-3 no-padding cover-background position-relative sm-height-500px xs-height-300px wow fadeIn" style="background: transparent url({{ asset('build/global/images/homepage-option17-image-01.jpg') }})"></div>
                <!-- end features item -->
                <!-- start features item -->
                <div class="col-md-3 no-padding position-relative bg-extra-dark-gray wow fadeIn sm-text-center" data-wow-delay="0.2s">
                    <div class="display-table width-100 height-100">
                        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-padding-30px-all">
                            <div class="alt-font text-medium-gray margin-10px-bottom">{{ 'Qui sommes nous'|upper }}</div>
                            <div class="alt-font text-extra-large margin-20px-bottom text-white width-90 md-width-100 xs-margin-15px-bottom">{{ 'innove it & consulting'|upper }}</div>
                            <p>{{ describe }}</p>
                            <a href="{{ path('about') }}" class="btn btn-transparent-white btn-small border-radius-4"><i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i>{{ 'en savoir plus' }}</a>
                        </div>
                    </div>
                </div>
                <!-- end features item -->
                <!-- start features item -->
                <div class="col-md-3 no-padding cover-background position-relative sm-height-500px xs-height-300px wow fadeIn" data-wow-delay="0.4s" style="background: transparent url({{ asset('build/global/images/homepage-option17-image-02.jpg') }})"></div>
                <!-- end features item -->
                <!-- start features item -->
                <div class="col-md-3 no-padding position-relative bg-extra-dark-gray wow fadeIn sm-text-center" data-wow-delay="0.6s">
                    <div class="display-table width-100 height-100">
                        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-padding-30px-all">
                            <div class="alt-font text-medium-gray margin-10px-bottom">{{ 'Nous Contacter'|upper }}</div>
                            <div class="alt-font text-extra-large margin-20px-bottom text-white width-90 md-width-100 xs-margin-15px-bottom">{{ 'vous avez un besoin en particulier ?'|upper }}</div>
                            <p>{{ 'Quelque soit votre besoin en gestion, comptabilité, Paie & RH, application web, site internet, achat de matériel informatique ... ou pour un projet projet informatique, n\'hesitez pas à nous contacter pour un rendez-vous. Quelque soit la taille de votre entreprise, nous avons la solution qu\'il vous faut dans l\'immédiat ou à long terme' }}</p>
                            <a href="{{ path('contact') }}" class="btn btn-transparent-white btn-small border-radius-4"><i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i>{{ 'Nous contacter' }}</a>
                        </div>
                    </div>
                </div>
                <!-- end features item -->
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start form section -->
    {{ include('front/includes/devis_solution.html.twig') }}
    <!-- end form section -->

    <!-- start clients slider section  -->
    <section class="no-padding-top wow fadeIn">
        <div class="container text-center">
            <div class="row">
                <div class="swiper-slider-clients swiper-container black-move wow fadeIn">
                    <div class="swiper-wrapper">
                        {% for partner in partners %}
                            <!-- start slide -->
                            <div class="swiper-slide text-center"><a href="{{ path('contact') }}"><img src="{{ partner.assertPath|imagine_filter('thumb_partner_250_250') }}" alt="{{ partner.name }}"></a></div>
                            <!-- end slide -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end clients slider section -->
{% endblock %}
