{% extends 'base.html.twig' %}
{% block title %}
    {{  category.name ~ '| Intégrateur de solutions innovantes' }}
{% endblock %}
{% block slide %}
    <div class="c-layout-breadcrumbs-1 c-bgimage-full c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: url({{ asset('build/web/static/slides/slide_solutions.jpg') }})">
        <div class="c-breadcrumbs-wrapper">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">{{ 'Nos domaines de gestion' }}</h3>
                </div>
                <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                    <li><a href="{{ path('homepage') }}" class="c-font-white">{{ 'Accueil' }}</a></li>
                    <li class="c-font-white">/</li>
                    <li class="c-font-white">{{ category.name }}</li>
                </ul>
            </div>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
{% endblock %}
{% block body %}
    <!-- BEGIN: CONTENT/SOLUTION QUE NOUS OFFRONS -->
    <div class="c-content-box c-size-md c-bg-img-center c-bg-grey-1">
        <div class="container">
            <div class="c-content-title-1 wow animated fadeIn">
                <h3 class="c-center c-font-uppercase c-font-bold">{{ category.name|upper }}</h3>
                <div class="c-line-center c-theme-bg"></div>
                <div class="row">
                    <div class="c-content-blog-post-card-1-grid">
                        <div class="row">
                            {% if category|length > 0 %}
                                {% for solution in category.solutions %}
                                    <div class="col-md-4">
                                        <div class="c-content-blog-post-card-1 c-option-2 c-bordered box-shadow c-shadow">
                                            <div class="c-media c-content-overlay">
                                                <div class="c-overlay-wrapper">
                                                    <div class="c-overlay-content">
                                                        <a href="{{ path('solution_detail', {'slug': solution.slug }) }}" title="{{ solution.name }}"><i class="icon-link"></i></a>
                                                    </div>
                                                </div>
                                                <img class="c-overlay-object img-responsive"  src="{{ solution.assertPath|imagine_filter('thumb_530_330') }}" alt="{{ solution.name }}">
                                            </div>
                                            <div class="c-body">
                                                <div class="c-title c-font-bold c-font-uppercase c-center">
                                                    <a href="{{ path('solution_detail', {'slug': solution.slug }) }}">{{ solution.name }}</a>
                                                </div>
                                                <div class="c-content-divider c-icon-bg">
                                                    <i class="icon-drop c-rounded c-font-white"></i>
                                                </div>
                                                <p>{{ solution.content |striptags('<a>')|truncate(150, true, '...')|raw }}</p>
                                                <div class="c-center">
                                                    <a href="{{ path('solution_detail', {'slug': solution.slug }) }}" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{  'Voir les détails' }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/SOLUTION QUE NOUS OFFRONS -->
    <!-- BEGIN: CONTENT/ACTU -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <!-- Begin: Testimonals 1 component -->
            <div class="c-content-blog-post-card-1-slider" data-slider="owl">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">{{ 'Profitez de nos conseils d\'expertises'|upper }}</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->
                <!-- Begin: Owlcarousel -->
                <div class="owl-carousel owl-theme c-theme c-owl-nav-center" data-items="3" data-slide-speed="8000" data-rtl="false">
                    {% if posts|length > 0 %}
                        {% for post in posts %}
                            <div class="item c-shadow">
                                <div class="c-content-blog-post-card-1 c-option-2">
                                    <div class="c-media c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="{{ path('detail_blog', {'slug': post.slug}) }}"><i class="icon-link"></i></a>
                                                <a href="{{ post.assertPath|imagine_filter('thumb_590_300') }}" data-lightbox="fancybox" data-fancybox-group="gallery">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <img class="c-overlay-object img-responsive" src="{{ post.assertPath|imagine_filter('thumb_590_300') }}" alt="">
                                    </div>
                                    <div class="c-body">
                                        <div class="c-title c-font-uppercase c-font-bold">
                                            <a href="{{ path('detail_blog', {'slug': post.slug}) }}">{{ post.title }}</a>
                                        </div>
                                        <div class="c-author">
                                            Par <a href="{{ path('detail_blog', {'slug': post.slug}) }}"><span class="c-font-uppercase">{{ 'Admin' }}</span></a>
                                            Le <span class="c-font-uppercase">{{ post.created|date('d m Y') }}</span>
                                        </div>

                                        <div class="c-panel">
                                            <ul class="c-tags c-theme-ul-bg">
                                                <li>{{ post.activity.name }}</li>
                                            </ul>
                                        </div>
                                        <p>{{ post.content |striptags('<a>')|truncate(150, true, '...')|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="c-center">
                    <a href="{{ path('blog') }}" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{'Consultez tous nos articles' }}</a>
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div>
    <!-- END: CONTENT/ACTU -->
{% endblock %}