<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="Raphael Blehoue | raphaelsampan@gmail.com">
    <!-- description -->
    <meta name="description" content="{{ describe }}">
    <!-- keywords -->
    <meta name="keywords" content="{{ keywords }}">
    <link rel="shortcut icon" href="{{ asset('build/front/static/favicon/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('build/front/static/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/front/static/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/front/static/apple-touch-icon-114x114.png') }}">
    <!-- animation -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('build/front/css/app.css', 'front') }}">
    {% block stylesheets %}{% endblock %}
    <!--[if IE]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<!-- start header -->
{% block nav %} {{ render(controller('App\\Controller\\PageController::renderNav')) }}
{% endblock %}
<!-- end header -->
<!-- start if slide or banner -->
<!-- end header -->
{% block slider %}{% endblock %}
<!-- end slider -->
<!-- end if slide or banner -->
<!-- start sections -->
{% block body %}{% endblock %}
<!-- end sections -->
<!-- start footer -->
{{ include('front/includes/footer.html.twig') }}
<!-- end footer -->
<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
<!-- end scroll to top  -->
<!-- javascript libraries -->
    <script type="text/javascript" src="{{ asset('build/global/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/global/js/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/global/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/global/js/jquery.easing.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/global/js/skrollr.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/global/js/smooth-scroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/global/js/jquery.appear.js') }}"></script>
    <!-- menu navigation -->
    <script type="text/javascript" src="{{ asset('build/global/js/bootsnav.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/global/js/jquery.nav.js') }}"></script>
    <!-- animation -->
    <script type="text/javascript" src="{{ asset('build/global/js/wow.min.js') }}"></script>
    <!-- page scroll -->
    <script type="text/javascript" src="{{ asset('build/global/js/page-scroll.js') }}"></script>
    <!-- swiper carousel -->
    <script type="text/javascript" src="{{ asset('build/global/js/swiper.min.js') }}"></script>
    <!-- counter -->
    <script type="text/javascript" src="{{ asset('build/global/js/jquery.count-to.js') }}"></script>
    <!-- parallax -->
    <script type="text/javascript" src="{{ asset('build/global/js/jquery.stellar.js') }}"></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="{{ asset('build/global/js/jquery.magnific-popup.min.js') }}"></script>
    <!-- portfolio with shorting tab -->
    <script type="text/javascript" src="{{ asset('build/global/js/isotope.pkgd.min.js') }}"></script>
    <!-- images loaded -->
    <script type="text/javascript" src="{{ asset('build/global/js/imagesloaded.pkgd.min.js') }}"></script>
    <!-- pull menu -->
    <script type="text/javascript" src="{{ asset('build/global/js/classie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/global/js/hamburger-menu.js') }}"></script>
    <!-- counter  -->
    <script type="text/javascript" src="{{ asset('build/global/js/counter.js') }}"></script>
    <!-- fit video  -->
    <script type="text/javascript" src="{{ asset('build/global/js/jquery.fitvids.js') }}"></script>
    <!-- equalize -->
    <script type="text/javascript" src="{{ asset('build/global/js/equalize.min.js') }}"></script>
    <!-- skill bars  -->
    <script type="text/javascript" src="{{ asset('build/global/js/skill.bars.jquery.js') }}"></script>
    <!-- justified gallery  -->
    <script type="text/javascript" src="{{ asset('build/global/js/justified-gallery.min.js') }}"></script>
    <!--pie chart-->
    <script type="text/javascript" src="{{ asset('build/global/js/jquery.easypiechart.min.js') }}"></script>
    <!-- instagram -->
    <script type="text/javascript" src="{{ asset('build/global/js/instafeed.min.js') }}"></script>
    <!-- retina -->
    <script type="text/javascript" src="{{ asset('build/global/js/retina.min.js') }}"></script>
    <!-- revolution -->
    <script type="text/javascript" src="{{ asset('build/global/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/global/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
    <script type="text/javascript" src="{{ asset('build/global/js/main.js') }}"></script>
</body>
</html>